body{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  background:#69a3eb;
  min-height:100vh;
  text-align:center;
}

.header{
  background:#16245c;
  color:white;
  padding:20px;
}

.subheader{
  background:#2342b5;
  color:white;
  padding:10px;
}

.drag{
  background:#2d63e0;
  color:white;
  padding:10px;
}

textarea{
  width:70%;
  height:150px;
  margin-top:30px;
  border-radius:10px;
  padding:10px;
  font-size:20px;
}

.filebox{
  border:4px dashed black;
  width:400px;
  margin:auto;
  margin-top:30px;
  padding:30px;
  background:white;
}

button{
  margin-top:20px;
  padding:15px 40px;
  background:#16245c;
  color:white;
  border:none;
  border-radius:10px;
  font-size:20px;
  cursor:pointer;
}
